/test collapsing menu/Ui_main_window.py
/test collapsing menu/setup_environment.cmd
/test collapsing menu/resources_rc.py
/test collapsing menu/make_ui_v2.cmd
/test collapsing menu/requirements.txt
